.header {
    position: fixed;
    top: 0px;
    background: #000;
    height: 0.8rem;
    width: 100%;
    z-index: 99;
    .header_seach {
        float: right;
        font-size: 18px;
        i {
            font-size: 22px;
        }
    }
}